[Desktop Entry]
Name=Vien
Comment=Calm Markdown for long-form writing
Exec=vien %F
Terminal=false
Type=Application
Icon=vien
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;
Keywords=vien;
StartupWMClass=vien
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=vien --new-window %F
Icon=vien
